{% extends "__base.html" %}

{% block title %}My Cart | {{ block.super }}{% endblock title %}


{% block content %}


	<h2> My Cart</h2>
	</br></br>
	<div class="lead">	
		Sale of {{ cart.sale.date }}
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Cost</th>
			</tr>
		</thead>
		<tbody>
			{% for content in cart.cart_content.all %}	
				<tr>
					<td><img src="/static/producers/{{ content.product.producer.id }}/{{ content.product.picture }}"  hspace=2 width=140 height=140/></td>
					<td>{{ content.product.name }} : {{ content.product.description }}</td>	
					<td>{{ content.product.price }}NZD$ per {{ content.product.quantity }}{{ content.product.unit.name }}</td>							   	
					<td>{{ content.quantity }}</td>
					<td>{{ content.cost }}$</td>
				</tr>		
			{% endfor %}
			<tr>
				<td></td><td></td><td></td>
				<td><div class="lead">Total:</div></td><td><div class="lead">{{ total }}$</div></td>
			</tr>
		</tbody>
	
	</table>
	</br>
	</br>
	
{% endblock %}