{% extends "__base.html" %}

{% block title %}Sale detail | {{ block.super }}{% endblock title %}


{% block content %}

	<h2> Sale of the {{ sale.date }}</h2>

	</br>
	</br>
	
	<div>
		
		{% for p in products %}				
			
			<div>
			
				{% with p|first as first_product %}
						
					<div class="row">
			    		<div class="col-sm-3">						
								<img src="/static/producers/{{ first_product.product.producer.id }}/{{ first_product.product.producer.picture }}"  hspace=2 width=140 height=140/>
						</div>
						
						<div class="col-sm-3">		
							{{ first_product.product.producer.name }}
							{{ first_product.product.producer.description }}
						</div>
						
					</div>
					
					{% for pp in p %}
					
						<div class="row">
	    					<div class="col-sm-3">					
								<img src="/static/producers/{{ first_product.product.producer.id }}/{{ pp.product.picture }}"  hspace=2 width=140 height=140/>
							</div>
							
							<div class="col-sm-3">								   
						   		{{ pp.product.name }} : {{ pp.product.description }}							   		
						   	</div>							
						</div>							
					
					{% endfor %}
						
				{% endwith %}
					
			</div>
			
		</br>
		</br>
			
		{% endfor %} 
		
	</div>
		

{% endblock %}