{% extends "__base.html" %}

{% block title %}Last sales | {{ block.super }}{% endblock title %}


{% block content %}

	<h2> Last sales</h2>

	</br>
	</br>
	
	<table class="table">
		<thead>
			<tr>
				<th>Active</th>
				<th>Date</th>
				<th>Start time</th>
				<th>End time</th>
				<th>Producers</th>
			</tr>
		</thead>
		
		<tbody>
			
	    	{% for s in sales %}
	    		<tr>
	    			<td>{{ s.is_active }}</td>
	    			<td><a href="{{ s.id }}">{{ s.date }}</a></td>
	    			<td>{{ s.start_time }}</td>
	    			<td>{{ s.end_time }}</td>
	    			<td></td>
	    		</tr>
	    	
	    	{% endfor %}
		
		</tbody>
		
	</table>
		

{% endblock %}