{% extends "__base.html" %}

{% block title %}Last sales | {{ block.super }}{% endblock title %}


{% block content %}

	<h2> Last sales</h2>
{{ today }}
	</br>
	</br>
	
	<table class="table">
		<thead>
			<tr>
				<th>Status</th>
				<th>Date</th>
				<th>Start time</th>
				<th>End time</th>
				<th>Producers</th>
			</tr>
		</thead>
		
		<tbody>
			
	    	{% for s in sales %}
	    		<tr>
	    			<td>{% if s.is_active %}
	    					<div class="lead">Ongoing sale</div>
	    				{% else %}
	    					{% if today > s.date %}
	    						Finished
	    					{% else %}
	    						Under preparation
	    					{% endif %}
	    				 {% endif %}
	    			</td>
	    			<td>{% if s.is_active %}<div class="lead">{% endif %}<a href="{{ s.id }}">{{ s.date }}</a>{% if s.is_active %}</div>{% endif %}	</td>
	    			<td>{% if s.is_active %}<div class="lead">{% endif %}{{ s.start_time }}{% if s.is_active %}</div>{% endif %}</td>
	    			<td>{% if s.is_active %}<div class="lead">{% endif %}{{ s.end_time }}{% if s.is_active %}</div>{% endif %}</td>
	    			<td></td>	    			
	    		</tr>
	    	
	    	{% endfor %}
		
		</tbody>
		
	</table>
		

{% endblock %}